.container-fluid {
  background-color: green;
  position: relative;
  height: 100%;
}

.player-header {
  height: 5%;
  width: 100%;
  background-color: yellow;
}

img {
    width: 50%;
    margin: auto;
    position: absolute;
  }