.container-fluid {
  background-color: green;
  position: relative;
  height: 100%;
}

.navbar {
  height: 5%;
  width: 100%;
  background-color: yellow;
}

.album {
  overflow: scroll;
}

img {
    width: 40%;
    margin: auto;
  }

.fa-play-circle {

}
