.container-fluid {
  background-color: #e6f7ff;
  position: relative;
  height: 100%;
}

.info-bar{
  height: 10%;
  top: 0;
  width: 100%;
  background-color: #e6f7ff;
  overflow: hidden;
  position: fixed;
}

.album {
  height: 5rem;
}

img {
  width: 100%;
}

.fa-play-circle {
  float: center;
}

h1 {
  font-size: 13px !important;
  font-family: Helvetica !important;
}

h2 {
  font-size: 24px !important;
  font-family: Helvetica !important;
}

h3 {
  font-size: 19px !important;
  font-family: Helvetica;
}

h4 {
  font-size: 16px !important;
  font-family: Helvetica !important;
}

img {
    margin: auto;
  }

.scroll {
  background-color: black;
}
